In [11]:
import pandas as pd
import numpy as np
import re

In [12]:
df = pd.read_csv('jobs_data_main.csv')

In [13]:
df.head()

,title,company,location,link,salary
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Permanent
1,Software Analyst,Ericsson,NaN,https://in.indeed.com/rc/clk?jk=c484519856b3bc...,NaN
2,NaN,NaN,NaN,https://in.indeed.com/rc/clk?jk=59d694cd2d7ed5...,NaN
3,NaN,NaN,NaN,https://in.indeed.com/rc/clk?jk=8e5a11dbe5a1b8...,NaN
4,NaN,NaN,NaN,https://in.indeed.com/rc/clk?jk=3f778fe9289e05...,NaN

In [14]:
df.isnull().sum()

title        13
company      13
location     14
link          0
salary      323
dtype: int64

In [15]:
df = df.dropna(subset=['title', 'company', 'location'])

In [16]:
df.shape

(856, 5)

In [17]:
salary = df['salary'].unique()

In [18]:
salary[:20]

array(['Permanent', '₹25 an hour', '₹30,00,000 - ₹45,00,000 a year', nan,
       '₹50,000 - ₹80,000 a month', 'Up to ₹20,00,000 a year',
       'Full-time', '₹20,00,000 - ₹30,00,000 a year',
       '₹3,00,000 - ₹7,00,000 a year', '₹5,933.64 - ₹14,999.00 a month',
       '₹35,000 - ₹50,000 a month', '₹3,48,822.94 - ₹14,25,666.38 a year',
       '₹21,00,000 - ₹28,00,000 a year', '₹2,40,000 - ₹3,60,000 a year',
       '₹70,000 - ₹80,000 a month', '₹9,00,000 - ₹11,00,000 a year',
       '₹25,000 - ₹32,000 a month', '₹5,000 a month',
       '₹4,93,653.72 - ₹10,49,221.13 a year', 'Fresher'], dtype=object)

In [19]:
def convert_to_monthly(salary):
    if isinstance(salary, str):
        nums = re.findall(r'\b\d+\.?\d*\b', salary.replace(',', ''))
        nums = [float(num) for num in nums]

        if 'year' in salary:
            avg_salary = np.mean(nums) / 12
        elif 'month' in salary:
            avg_salary = np.mean(nums)
        elif 'day' in salary:
            avg_salary = np.mean(nums) * 5 * 4
        else:
            return np.nan
    else:
        return np.nan

    return round(avg_salary)


df['salary_per_month'] = df['salary'].apply(convert_to_monthly)
df

,title,company,location,link,salary,salary_per_month
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Permanent,NaN
15,Principal DevOps Engineer,Amplifi Capital,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=4b54008f752a41...,₹25 an hour,NaN
16,Backend Engineer,iXceed Solutions,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,"₹30,00,000 - ₹45,00,000 a year",312500.0
17,IT Developer,Insight Enterprises,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,NaN,NaN
18,DevOps Engineer,Shaurya Infosoft PVT. LTD.,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,"₹50,000 - ₹80,000 a month",65000.0
...,...,...,...,...,...,...
865,Backend Technical Lead,Squareboat,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=a82946fd909b00...,Fixed shift,NaN
866,Full Stack Developer,SLA Consultants India,"Delhi, Delhi",https://in.indeed.com/rc/clk?jk=03c7b68cc05cab...,NaN,NaN
867,Multimedia Firmware Developer,TerminalApps,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=dd2cf80ed11eb1...,Permanent,NaN
868,Multimedia Firmware Developer,TerminalApps,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=e277ec44e2b5c2...,Permanent,NaN
869,Full stack Developers,Brain Technosys,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=e3055daa07e8dc...,NaN,NaN

In [20]:
df.isnull().sum()

title                 0
company               0
location              0
link                  0
salary              309
salary_per_month    670
dtype: int64

In [21]:
df.drop(['salary'],axis=1,inplace = True)

In [22]:
df['salary_per_month'] = df['salary_per_month'].fillna('Not Available')

In [23]:
df.isnull().sum()

title               0
company             0
location            0
link                0
salary_per_month    0
dtype: int64

In [27]:
df = df.reset_index()

In [28]:
df.drop(['index'],axis=1,inplace=True)

In [29]:
df.head()

,title,company,location,link,salary_per_month
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Not Available
1,Principal DevOps Engineer,Amplifi Capital,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=4b54008f752a41...,Not Available
2,Backend Engineer,iXceed Solutions,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,312500.0
3,IT Developer,Insight Enterprises,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,Not Available
4,DevOps Engineer,Shaurya Infosoft PVT. LTD.,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,65000.0

In [30]:
df.shape

(856, 5)

In [31]:
df['location'].unique()

array(['Gurgaon, Haryana', 'Noida, Uttar Pradesh',
       'Remote in Noida, Uttar Pradesh', 'Hybrid remote in Delhi, Delhi',
       'New Delhi, Delhi', 'Greater Noida, Uttar Pradesh',
       'Gurugram, Haryana', 'Hybrid remote in Noida, Uttar Pradesh',
       'Remote in New Delhi, Delhi', 'Delhi, Delhi',
       'Hybrid remote in New Delhi, Delhi', 'Bhiwadi, Rajasthan',
       'Vasant Kunj, Delhi, Delhi',
       'Hybrid remote in Gurgaon, Gurugram, Haryana',
       'Gautam Budh Nagar, Uttar Pradesh', 'Remote in Gurgaon, Haryana',
       'Faridabad, Haryana', 'Remote in Delhi, Delhi',
       'Gurgaon, Gurugram, Haryana', 'Hybrid remote in Gurgaon, Haryana',
       'Delhi', 'Ghaziabad, Uttar Pradesh', 'Dadri, Uttar Pradesh',
       'Okhla, Delhi, Delhi', 'Saket, Delhi, Delhi', 'Saket, Delhi',
       'Kalkaji Devi, Delhi', 'Paschim Vihar, Delhi, Delhi',
       'Remote in Kalkaji Devi, Delhi', 'Haryana'], dtype=object)

In [32]:

df['location'] = df['location'].str.replace('Hybrid remote in ', '', regex=False)
df['location'] = df['location'].str.replace('Remote in ', '', regex=False)


df['city'] = None
df['state'] = None


for index, row in df.iterrows():
    parts = row['location'].split(', ')
    if len(parts) == 2:
        df.at[index, 'city'] = parts[0]
        df.at[index, 'state'] = parts[1]
    elif len(parts) == 1: 
        df.at[index, 'city'] = parts[0]

In [33]:
df.head()

,title,company,location,link,salary_per_month,city,state
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Not Available,Gurgaon,Haryana
1,Principal DevOps Engineer,Amplifi Capital,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=4b54008f752a41...,Not Available,Noida,Uttar Pradesh
2,Backend Engineer,iXceed Solutions,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,312500.0,Gurgaon,Haryana
3,IT Developer,Insight Enterprises,"Gurgaon, Haryana",https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,Not Available,Gurgaon,Haryana
4,DevOps Engineer,Shaurya Infosoft PVT. LTD.,"Noida, Uttar Pradesh",https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,65000.0,Noida,Uttar Pradesh

In [34]:
df.drop(['location'],axis=1,inplace=True)

In [35]:
df.head()

,title,company,link,salary_per_month,city,state
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Not Available,Gurgaon,Haryana
1,Principal DevOps Engineer,Amplifi Capital,https://in.indeed.com/rc/clk?jk=4b54008f752a41...,Not Available,Noida,Uttar Pradesh
2,Backend Engineer,iXceed Solutions,https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,312500.0,Gurgaon,Haryana
3,IT Developer,Insight Enterprises,https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,Not Available,Gurgaon,Haryana
4,DevOps Engineer,Shaurya Infosoft PVT. LTD.,https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,65000.0,Noida,Uttar Pradesh

In [ ]:
# df.to_csv('cleaned_data.csv', index=False)

In [36]:
df.isnull().sum()

title                0
company              0
link                 0
salary_per_month     0
city                17
state               28
dtype: int64

In [38]:
df = df.dropna().reset_index()

In [40]:
df.head()

,index,title,company,link,salary_per_month,city,state
0,0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Not Available,Gurgaon,Haryana
1,1,Principal DevOps Engineer,Amplifi Capital,https://in.indeed.com/rc/clk?jk=4b54008f752a41...,Not Available,Noida,Uttar Pradesh
2,2,Backend Engineer,iXceed Solutions,https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,312500.0,Gurgaon,Haryana
3,3,IT Developer,Insight Enterprises,https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,Not Available,Gurgaon,Haryana
4,4,DevOps Engineer,Shaurya Infosoft PVT. LTD.,https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,65000.0,Noida,Uttar Pradesh

In [41]:
df.isnull().sum()

index               0
title               0
company             0
link                0
salary_per_month    0
city                0
state               0
dtype: int64

In [42]:
df.drop(['index'],axis=1,inplace=True)

In [43]:
df.head()

,title,company,link,salary_per_month,city,state
0,Open AI Developer | 4 to 10 years | PAN India,Capgemini Invent,https://in.indeed.com/rc/clk?jk=afe3d3380b0954...,Not Available,Gurgaon,Haryana
1,Principal DevOps Engineer,Amplifi Capital,https://in.indeed.com/rc/clk?jk=4b54008f752a41...,Not Available,Noida,Uttar Pradesh
2,Backend Engineer,iXceed Solutions,https://in.indeed.com/rc/clk?jk=1f1caebce60f4d...,312500.0,Gurgaon,Haryana
3,IT Developer,Insight Enterprises,https://in.indeed.com/rc/clk?jk=96e9499cfcef11...,Not Available,Gurgaon,Haryana
4,DevOps Engineer,Shaurya Infosoft PVT. LTD.,https://in.indeed.com/rc/clk?jk=e8507fe060ba57...,65000.0,Noida,Uttar Pradesh

In [44]:
df.to_csv('cleaned_data.csv', index=False)

In [45]:
df.shape

(828, 6)